body {
  margin: 0;
  box-sizing: border-box;
}
.header {
  width: 100%;
  margin-top: 27px;
  height: 120vh;
}
nav {
  max-width: 1240px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 auto;
  height: 52px;
  padding-left: calc(100% / 12);
  padding-right: calc(100% / 12);
}
.dump-days-logo {
  height: 52px;
  width: 205px;
  display: none;
}
ul {
  display: none;
}
li {
  list-style: none;
  display: inline-block;
  padding: 15px 25px;
}
li .rectangle {
  height: 30px;
  width: 2px;
  border-style: solid;
  border-radius: 11px;
  border-color: #1a3c44;
  color: #1a3c44;
}
.header-heading {
  text-align: center;
  margin-top: 200px;
}
.header-heading h1{
  margin: 0;
}
.header-h1-bottom {
  color: #5ec4bc;
}
.header-dates {
  margin: 0 auto;
  text-align: center;
  font-family: "Fuse V.2 Display";
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 17px;
}
.header-dates p {
  display: inline-block;
}
.header-buttons-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 150px;
  align-items: center;
}
.header-button-regisrtacija,
.sponsors-slider-button,
.logo-section-button {
  color: white;
  height: 39px;
  width: 124.11px;
  border-radius: 10px;
  background-color: #5ec4bc;
  box-shadow: 0 5px 10px 0 rgba(39, 199, 189, 0.35);
  border: none;
}
.header-button-prijava {
  border: none;
  height: 19px;
  width: 50px;
  color: #5ec4bc;
  font-family: "Fuse V.2 Display";
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 19px;
  text-align: center;
}
.header-saznajvise {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 10%;
}
.header-arrow-icon {
  height: 40px;
  width: 60px;
  display: flex;
  justify-content: center;
}


.schedule {
  width: 80%;
  margin: auto;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.schedule__title {
  text-align: center;
}

.schedule__highlights {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  flex-wrap: nowrap;
  gap: 10%;
  width: 100%;
  justify-content: center;
  margin: auto;
}

.schedule__highlights-highlight {
  width: 20%;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}

.schedule__highlights-highlight--selected {
  background-color: #5ec4bc;
  box-shadow: 5px 5px 10px 0 rgba(55, 84, 170, 0.1),
    -5px -5px 10px 0 rgba(255, 255, 255, 0.8);
}

.schedule__highlight-text {
  margin: 0;
  font-size: 12px;
  color: #5ec4bc;
}

.schedule__highlight-number {
  margin: 0;
  font-size: 24px;
  color: #5ec4bc;
}

.schedule__types {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 8%;
  width: 150%;
  margin-left: 50%;
}

.schedule__types-type {
  white-space: nowrap;
  color: #7a8e94;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0;
}

.underline {
  width: 100%;
  height: 15%;
  min-height: 3px;
  border-radius: 1px;
  background-color: #5ec4bc;
}

.schedule__types-type--selected {
  color: #1a3c44;
  font-weight: bold;
}

.schedule__highlight-number--selected {
  color: white;
}

.schedule__highlight-text--selected {
  color: white;
}

.schedule__events {
  width: 100%;
  margin: auto;
}

.schedule__events-event {
  width: 95%;
  border-radius: 12px;
  background-color: #f1f3f6;
  box-shadow: inset 4px 4px 10px 0 rgba(255, 255, 255, 0.5),
    -10px -10px 10px 0 rgba(255, 255, 255, 0.8),
    10px 10px 10px 0 rgba(55, 84, 170, 0.05);
  display: flex;
  flex-direction: row;
  padding-bottom: 5%;
}

.schedule__event-time{
  min-width: 30%;
  margin-right: 2%;
  min-height: 100%;
  color: #7A8E94;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 17px;
  text-align: center;
  margin: auto;
  padding: 2%;
}

.schedule__event-author{
  width: 100%;
  color: #7A8E94;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: 0;
  float: right;
}

.schedule__events-event--break{
}

.schedule__event-description{
  width: 100%;
  color: #1A3C44;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: 0;
}

.schedule__event-name{
  width: 100%;
  color: black;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 18px;
  margin-bottom: 6%;
}

.schedule__wrapper{
  width: 63%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2%;
}

.schedule__event--inactive
{
  color: #7A8E94;
}

.schedule__event--active
{
  color: #5EC4BC;
}

.schedule__event-current{
  text-transform: uppercase;
  color: #D73246;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 18px;
  margin-bottom: 2%;
  white-space: nowrap;
}

.schedule__field-wrapper{
  display: flex;
  flex-direction: row;
  column-gap: 5px;
}

.schedule__event-field{
  width: min-content;
  color: black;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 18px;
  margin-bottom: 2%;
  white-space: nowrap;
}

.schedule__event-button{
  color: #1A3C44;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 17px;
  border: none;
  background-color: transparent;
  text-align: left;
  white-space: nowrap;
  padding: 0;
}
.first-section{
  margin: 170px auto 0 auto;
  width: 85%;
}
.first-section h1{
  margin: 5px 0;
  font-size: 46px;
}
.first-section p{
  height: 88px;
  width: 331px;
  color: #7A8E94;
  font-family: "Fuse V.2 Display";
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22px;
}
.first-section-heading{
  height: 220px;
  width: 224px;
  color: #1A3C44;
  font-family: "Fuse V.2 Display";
  font-size: 46px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 55px;
}
.first-section-paragraph{
  margin-top: 40px;
}

.sponsors-section{
  width: 90%;
  margin: 0 auto;
}
.sponsors-general-image-mask{
  background-color: #F1F3F6;
}
.sponsors-general-image{
  height: 230px;
  width: 100%;
  border-radius: 20px;
}
.sponsors-general-sponsors-logo{
  height: 23px;
  width: 92px;
}
.sponsors-general-content{
  border-radius: 25px;
  position: relative;
  top: -40px;
  background-color: beige;
  padding: 10px;
}
.sponsors-general-content-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sponsors-general-content-heading h3{
  height: 17px;
  width: 116px;
  color: #5EC4BC;
  font-family: "Fuse V.2 Display";
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 17px;
}
.sponsors-general-content-heading h1{
  height: 26px;
  width: 175px;
  color: #1A3C44;
  font-family: "Fuse V.2 Display";
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 26px;
}
.sponsors-general-content-bottom{
  width: 294px;
  color: #1A3C44;
  font-family: "Fuse V.2 Display";
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 21px;
}
.sponsors-slder-wrapper{
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}
.sponsors-slider{
  width: 100%;
  display: flex;
  overflow: scroll;
  padding: 10px;
}
.sponsors-slider-slide{
  min-width: 80%;
  width: 80%;
}
.logo-section-logo-wrapper{
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.logo-seciton-logo{
  height: 40px;
  width: 135px;
}
.logo-seciton-offers-wrapper{
  width: 90%;
  margin: 0 20px;
  display: flex;
  overflow: scroll;
  padding: 10px;
}
.logo-seciton-offers-wrapper p{
  height: 21px;
  width: 136px;
  color: #7A8E94;
  font-family: "Fuse V.2 Display";
  font-size: 18px;
  letter-spacing: 0;
  line-height: 21px;
}
.logo-seciton-offers-wrapper h2{
  height: 24px;
  width: 159px;
  color: #1A3C44;
  font-family: "Fuse V.2 Display";
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 60px;
}
.logo-seciton-offer{
  height: 280px;
  width: 400px;
}
.logo-seciton-offer-logo{
  height: 30px;
  width: 160px;
}
.partners-games-friends-wrapper{
  margin: 0 auto;
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.partners-logo{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.partners-logo-svg{
  max-height: 250px;
  max-width: 320px;
}