body {
  margin: 0;
  box-sizing: border-box;
  min-width: 300px;
}
.header {
  margin-top: 27px;
  height: 120vh;
}
nav {
  max-width: 1240px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 auto;
  height: 52px;
  padding-left: calc(100% / 12);
  padding-right: calc(100% / 12);
  margin-top: 20px;
}
.dump-days-logo {
  height: 52px;
  width: 205px;
  display: none;
}
.ul-wrapper {
  display: none;
}
.ul-wrapper p {
  display: inline-block;
  height: 21px;
  width: 56px;
  color: #1A3C44;
  font-family: "Fuse V.2 Display";
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.36px;
  line-height: 21px;
  margin-left: 50px;
}
.nav-menu-icon{
  height: 50px;
}
.nav-menu-checkbox{
  display: none;
}
@media only screen and (min-width: 1024px){
  .dump-logo{
    display: none;
  }
  .dump-days-logo{
    display: block;
  }
  .nav-menu-icon{
    display: none;
  }
  .ul-wrapper{
    display: flex;
    justify-content: space-between;
  }
  .p-for-border{
    border-right: 3px solid;
    border-color: black;
    padding-right: 40px;
  }
  nav{
    padding-right: 0;
  }
}
.paragraph-to-underline{
  position: relative;
}
.paragraph-to-underline:after{
  content:"";
  position:absolute;
  bottom: -2px;
  left: 0;
  right: -42px;
  background:#5EC4BC;
  height:5px;
  border-radius: 15%;

}
.header-heading {
  text-align: center;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.header-heading h1{
  margin: 0;
  font-size: 36px;
  font-weight: bold;
}
.header-h1-bottom {
  color: #5ec4bc;
  font-size: 36px;
  font-weight: bold;
}
.header-dates {
  margin: 0 auto;
  text-align: center;
  font-family: "Fuse V.2 Display";
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 17px;
}
.header-dates p {
  display: inline-block;
}
.header-buttons-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 150px;
  align-items: center;
}
.header-button-regisrtacija,
.sponsors-slider-button,
.logo-section-button,
.registrate-section-button-registrate {
  color: white;
  height: 39px;
  width: 124.11px;
  border-radius: 10px;
  background-color: #5ec4bc;
  box-shadow: 0 5px 10px 0 rgba(39, 199, 189, 0.35);
  border: none;
}
.header-button-prijava,
.registrate-section-button-prijava {
  border: none;
  height: 35px;
  width: 50px;
  color: #5ec4bc;
  font-family: "Fuse V.2 Display";
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 19px;
  text-align: center;
}
.header-saznajvise {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 10%;
  height: 16px;
  width: 65px;
  color: #7A8E94;
  font-family: "Fuse V.2 Display";
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 16px;
  text-align: center;
}
.header-arrow-icon {
  height: 40px;
  width: 60px;
  display: flex;
  justify-content: center;
}
.header-saznajvise:hover{
  animation: floating 1s ease-in-out alternate infinite;
}
@keyframes floating{
  from{
    transform: translate(0);
  }
  to{
    transform: translateY(30px);
  }
}
.schedule {
  width: 80%;
  margin: auto;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: hidden;
}

.schedule__title {
  text-align: center;
}

.schedule__highlights {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  flex-wrap: nowrap;
  gap: 10%;
  width: 100%;
  justify-content: center;
  margin: auto;
}

.schedule__highlights-highlight {
  width: 20%;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}

.schedule__highlights-highlight--selected {
  background-color: #5ec4bc;
  box-shadow: 5px 5px 10px 0 rgba(55, 84, 170, 0.1),
    -5px -5px 10px 0 rgba(255, 255, 255, 0.8);
}

.schedule__highlight-text {
  margin: 0;
  font-size: 12px;
  color: #5ec4bc;
}

.schedule__highlight-number {
  margin: 0;
  font-size: 24px;
  color: #5ec4bc;
}

.schedule__types {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 8%;
  width: 150%;
  margin-left: 50%;
}

.schedule__types-type {
  white-space: nowrap;
  color: #7a8e94;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0;
}

.underline {
  width: 100%;
  height: 15%;
  min-height: 3px;
  border-radius: 1px;
  background-color: #5ec4bc;
}

.schedule__types-type--selected {
  color: #1a3c44;
  font-weight: bold;
}

.schedule__highlight-number--selected {
  color: white;
}

.schedule__highlight-text--selected {
  color: white;
}

.schedule__events {
  width: 100%;
  margin: auto;
}

.schedule__events-event {
  width: 95%;
  border-radius: 12px;
  background-color: #f1f3f6;
  box-shadow: inset 4px 4px 10px 0 rgba(255, 255, 255, 0.5),
    -10px -10px 10px 0 rgba(255, 255, 255, 0.8),
    10px 10px 10px 0 rgba(55, 84, 170, 0.05);
  display: flex;
  flex-direction: row;
  padding-bottom: 5%;
}

.schedule__event-time{
  min-width: 30%;
  margin-right: 2%;
  min-height: 100%;
  color: #7A8E94;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 17px;
  text-align: center;
  margin: auto;
  padding: 2%;
}

.schedule__event-author{
  width: 100%;
  color: #7A8E94;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: 0;
  float: right;
}

.schedule__events-event--break{
}

.schedule__event-description{
  width: 100%;
  color: #1A3C44;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: 0;
}

.schedule__event-name{
  width: 100%;
  color: black;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 18px;
  margin-bottom: 6%;
}

.schedule__wrapper{
  width: 63%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2%;
}

.schedule__event--inactive
{
  color: #7A8E94;
}

.schedule__event--active
{
  color: #5EC4BC;
}

.schedule__event-current{
  text-transform: uppercase;
  color: #D73246;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 18px;
  margin-bottom: 2%;
  white-space: nowrap;
}

.schedule__field-wrapper{
  display: flex;
  flex-direction: row;
  column-gap: 5px;
}

.schedule__event-field{
  width: min-content;
  color: black;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 18px;
  margin-bottom: 2%;
  white-space: nowrap;
}

.schedule__event-button{
  color: #1A3C44;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 17px;
  border: none;
  background-color: transparent;
  text-align: left;
  white-space: nowrap;
  padding: 0;
}
.first-section{
  margin: 0 auto;
  width: 85%;
  margin-bottom: 25px;
}
.first-section h1{
  margin: 5px 0;
  font-size: 46px;
}
.first-section-heading{
  height: 220px;
  width: 224px;
  color: #1A3C44;
  font-family: "Fuse V.2 Display";
  font-size: 46px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 55px;
}
.first-section-paragraph{
  margin-top: 40px;
  height: 88px;
  color: #7A8E94;
  font-family: "Fuse V.2 Display";
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22px;
}

.sponsors-section{
  width: 90%;
  margin: 0 auto;
}
.sponsors-section-heading{
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 100px;
  height: 34px;
  width: 192px;
  color: #1A3C44;
  font-family: "Fuse V.2 Display";
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 34px;
  text-align: center;
}
.sponsors-general{
  width: 90%;
  margin: 0 auto;
  min-width: 300px;
}
.sponsors-general-image-mask{
  background-color: #F1F3F6;
}
.sponsors-general-image{
  width: 100%;
  border-radius: 20px;
}
.sponsors-general-sponsors-logo{
  margin-bottom: 23px;
  height: 20px;
  width: 90px;
  margin-right: 10px;
  align-self: flex-end;
}
.sponsors-general-content{
  margin: 0 auto;
  border-radius: 25px;
  position: relative;
  top: -40px;
  background-color: beige;
  padding: 10px;
}
.sponsors-general-content-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
}
.sponsors-general-content-heading{
  padding: 5px;
}
.sponsors-general-content-heading h3{
  height: 17px;
  width: 116px;
  color: #5EC4BC;
  font-family: "Fuse V.2 Display";
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 17px;
}
.sponsors-general-content-heading h1{
  text-decoration: underline;
  text-decoration-color:#5EC4BC;
  height: 26px;
  width: 175px;
  color: #1A3C44;
  font-family: "Fuse V.2 Display";
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 26px;
  color: #1A3C44;
  margin-bottom: 15px;
}
.sponsors-general-content-bottom{
  width: 90%;
  color: #1A3C44;
  font-family: "Fuse V.2 Display";
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 21px;
  padding: 7px;
  margin-right: 10px;
}
.sponsors-slder-wrapper{
  min-height: 185px;
  width: 85%;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 150px;
}
.sponsors-slider{
  width: 100%;
  display: flex;
  overflow: scroll;
  padding: 10px;
}
.sponsors-slider-slide{
  margin-right: 20px;
  min-width: 80%;
  width: 80%;
}
.sponsors-slider-slide p{
  height: 15px;
  width: 91px;
  color: #7A8E94;
  font-family: "Fuse V.2 Display";
  font-size: 12px;
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: 8px;
  margin-top: 30px;
}
.sponsors-slider-slide h2{
  margin-top: 0;
  height: 21px;
  width: 150px;
  color: #1A3C44;
  font-family: "Fuse V.2 Display";
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 21px;
}
.sponsors-slider-button{
  margin-top: 50px;
}
.sponsors-slider-heading{
  margin-bottom: 30px;
  margin: 0 auto;
  height: 26px;
  width: 275px;
  color: #1A3C44;
  font-family: "Fuse V.2 Display";
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 26px;
  text-align: center;
}
.logo-section{
  margin-top: 150px;
}
.logo-section h1{
  margin: 0 auto;
  text-align: center;
  height: 34px;
  width: 210px;
  color: #1A3C44;
  font-family: "Fuse V.2 Display";
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 34px;
}
.imaju-otvorene-pozicije{
  margin: 0 auto;
  text-align: center;
  height: 26px;
  width: 263px;
  color: #1A3C44;
  font-family: "Fuse V.2 Display";
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 26px;
  text-align: center;
}
.logo-section-logo-wrapper{
  margin: 0 auto;
  margin-top: 75px;
  margin-bottom: 50px;
  padding: 10px;
  max-width: 85%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.logo-section-logo{
  max-width: 35%;
  max-height: 50px;
  margin: 15px;
  margin-bottom: 30px;
}
.logo-section-logo-slide{
  height: 40px;
  width: 160px;
  margin: 10px;
}
.logo-section-offers-wrapper{   
  min-height: 185px;
  width: 85%;
  margin: 0 auto;
  display: flex;
  overflow: scroll;
  padding: 10px;
}
.logo-section-offers-wrapper p{
  height: 21px;
  width: 136px;
  color: #7A8E94;
  font-family: "Fuse V.2 Display";
  font-size: 18px;
  letter-spacing: 0;
  line-height: 21px;
}
.logo-section-offers-wrapper h2{
  height: 24px;
  width: 159px;
  color: #1A3C44;
  font-family: "Fuse V.2 Display";
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 60px;
}
.logo-section-offer-logo{
  height: 30px;
  width: 100px;
}
.logo-section-offer{
  margin-top: 30px;
  min-width: 70%;
}
.logo-section-offer h2{
  margin: 0;
}
.logo-section-offer p{
  margin-bottom: 8px;
}
.logo-section-button{
  margin-top: 50px;
}
.partners-games-friends-wrapper{
  margin: 0 auto;
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.partners-logo{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.partners-logo-svg{
  max-height: 250px;
  max-width: 320px;
}

.registrate-section{
  max-width: 550px;
  width: 90%;
  margin: 0 auto;
}
.registrate-section h1{
  text-align: center;
  margin: 0 auto;
  height: 114px;
  color: #1A3C44;
  font-family: "Fuse V.2 Display";
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 38px;
  margin-bottom: 30px;
}
.registrate-section-informaiton-wrapper{
  max-width: 450px;
  width: 90%;
  margin: 0 auto;
}
.registrate-section-information{
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.registrate-section-information-icon{
  margin: auto;
}
.registrate-section-information-paragraph{
  width: 70%;
  height: 50px;
  color: #7A8E94;
  font-family: "Fuse V.2 Display";
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22px;
  padding: 20px;
}
.registrate-section-buttons-wrapper{
  width: 135px;
  display: flex;
  justify-content: space-between;
}
.big-image-wrapper{
  overflow-x: hidden;
  top: -125px;
  position: relative;
}
.registrate-section-big-image{
  height: 400px;
  position: relative;
  top: -35px;
  left: 30px;
}
@media only screen and (min-width: 340px){
  .registrate-section-big-image{
    top: 0;
  }
}
@media only screen and (min-width: 400px){
  .registrate-section-big-image{
    position: relative;
    top: 70px;
    left: 30%;
  }
  .big-image-wrapper{
    top: -125px;
  }
}
@media only screen and (min-width: 1024px){
  .registrate-section{
    position: relative;
    display: inline-block;
    margin-left: 50px;
    margin-bottom: 120px;
  }
  .big-image-wrapper{
    position: relative;
    display: inline-block;
    width: fit-content;
    overflow: visible;
    top: 0;
   left: 0;
  }
  .registrate-section h1{
    position: relative;
    left: 120px;
    text-align: left;
  }
  .registrate-section-big-image{
    top: 0;
  }
  .registrate-section-information-paragraph{
    padding: 0;
  }
  .registrate-section-buttons-wrapper{
    margin-left: 65px;
  }
}
@media only screen and (min-width: 600px){
  .have-questions-section{
    display: flex;
    justify-content: space-between;
    max-width: 600px;
  }
}
.have-questions-section{
  width: 75%;
  margin: auto;
}
.have-questions-left h1{
  color: #1A3C44;
  font-family: "Fuse V.2 Display";
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 38px;
  margin-bottom: 0;
}
.have-questions-left p{
  color: #7A8E94;
  font-family: "Fuse V.2 Display";
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22px;
}
.have-questions-right button{
  margin: 10px;
  margin-left: 0;
}
.facebook-button{
  height: 40px;
  width: 135px;
  border: none;
  border-radius: 7px;
  background-color: #0084FF;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.have-questions-messinger-logo{
  height: 35px;
  width: 30px;
  margin: 0;
}
.have-questions-arrow{
  height: 35px;
  width: 15px;
  margin: 0;
  margin-left: 10px;
}
.question-button{
  height: 40px;
  width: 135px;
  border: none;
  border-radius: 7px;
  background-color: #18b8f8;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer{
  max-width: 700px;
  width: 90%;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
.footer-left p{
  color: #7A8E94;
  font-family: "Fuse V.2 Display";
  font-size: 12px;
  letter-spacing: 0;
  line-height: 21px;
  margin-top: 5px;
}
.footer-logo{
  height: 50px;
  width: 50px;
}