body{
    margin: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    margin-top: 27px;
}
nav{
   max-width: 1240px;
   display: flex;
   justify-content: space-between; 
   flex-direction: row;
   margin: 0 auto;
   height: 52px;
   padding-left: calc(100% / 12);
   padding-right: calc(100% / 12);
}
.dump-days-logo{
    height: 52px;
    width: 205px;
    display: none;
}
ul{
    display: none;
}
li{
    list-style: none;
    display: inline-block;
    padding: 15px 25px;
}
li .rectangle{
    height: 30px;
    width: 2px;
    border-style: solid;
    border-radius: 11px;
    border-color: #1A3C44;
    color: #1A3C44;
}
.header-heading{
    text-align: center;
}
.header-h1-bottom{
    color: #5EC4BC;
}
.header-dates{
    margin: 0 auto;
    text-align: center;
}
.header-dates p{
    display: inline-block;
}
.header-buttons-wrapper{
    ¸
    ćĆheader-buttons-wrapper
     